<main class="w-full h-screen flex relative">
    <!--side bar-->
    <section *ngIf="!adminUxService.showDrawer()" class="w-1/3  md:w-1/6 shadow-lg font-mono h-screen">
        <div class="flex flex-col h-full justify-between shadow-xl">
            <div class="flex flex-col gap-2">
                <div class="flex justify-between p-4">
                    <p class="text-lg ">
                        <span class="hidden md:block">Nitsbin ERMP and USMLE Study Guide</span>  
                        <span class="block md:hidden">NEUS</span>
                    </p>
                    <div>
                        <svg class="cursor-pointer"  
                        (click)="toggleSideBar()"          
                        xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><g fill="currentColor"><path d="M11.707 5.293a1 1 0 0 1 0 1.414L6.414 12l5.293 5.293a1 1 0 0 1-1.414 1.414l-6-6a1 1 0 0 1 0-1.414l6-6a1 1 0 0 1 1.414 0z"/><path d="M19.707 5.293a1 1 0 0 1 0 1.414L14.414 12l5.293 5.293a1 1 0 0 1-1.414 1.414l-6-6a1 1 0 0 1 0-1.414l6-6a1 1 0 0 1 1.414 0z"/></g>
                    </svg>   
                    </div> 
                </div>
                <!--side Bar Items-->
                <div class="flex flex-col gap-5 p-2">
                    <app-side-bar-item component="Dashboard"
                        [isActiveComponent]="activeComponent === 'Dashboard'"
                        (click)="setActiveComponent('Dashboard')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5"><path stroke-linejoin="round" d="M8.557 2.75H4.682A1.93 1.93 0 0 0 2.75 4.682v3.875a1.94 1.94 0 0 0 1.932 1.942h3.875a1.94 1.94 0 0 0 1.942-1.942V4.682A1.94 1.94 0 0 0 8.557 2.75m10.761 0h-3.875a1.94 1.94 0 0 0-1.942 1.932v3.875a1.943 1.943 0 0 0 1.942 1.942h3.875a1.94 1.94 0 0 0 1.932-1.942V4.682a1.93 1.93 0 0 0-1.932-1.932M8.557 13.5H4.682a1.943 1.943 0 0 0-1.932 1.943v3.875a1.93 1.93 0 0 0 1.932 1.932h3.875a1.94 1.94 0 0 0 1.942-1.932v-3.875a1.94 1.94 0 0 0-1.942-1.942"/><path stroke-miterlimit="10" d="M17.368 13.817v7.116m-3.551-3.55h7.116"/></g></svg>
                    </app-side-bar-item>

                    <app-side-bar-item component="Exams"
                        [isActiveComponent]="activeComponent === 'Exams'"
                        (click)="setActiveComponent('Exams')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><g fill="currentColor"><path d="M20 15a1 1 0 0 1 1-1h8a1 1 0 1 1 0 2h-8a1 1 0 0 1-1-1m1 3a1 1 0 1 0 0 2h8a1 1 0 1 0 0-2zm-1 10a1 1 0 0 1 1-1h8a1 1 0 1 1 0 2h-8a1 1 0 0 1-1-1m1 3a1 1 0 1 0 0 2h8a1 1 0 1 0 0-2z"/><path fill-rule="evenodd" d="M10 27a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1zm2 1v3h3v-3z" clip-rule="evenodd"/><path d="M17.707 15.707a1 1 0 0 0-1.414-1.414L13 17.586l-1.293-1.293a1 1 0 0 0-1.414 1.414L13 20.414z"/><path fill-rule="evenodd" d="M10 6a4 4 0 0 0-4 4v28a4 4 0 0 0 4 4h20a4 4 0 0 0 4-4V10a4 4 0 0 0-4-4zm-2 4a2 2 0 0 1 2-2h20a2 2 0 0 1 2 2v28a2 2 0 0 1-2 2H10a2 2 0 0 1-2-2zm28 6a3 3 0 1 1 6 0v20.303l-3 4.5l-3-4.5zm3-1a1 1 0 0 0-1 1v2h2v-2a1 1 0 0 0-1-1m0 22.197l-1-1.5V20h2v15.697z" clip-rule="evenodd"/></g></svg>
                    </app-side-bar-item>
                    <app-side-bar-item component="Resources"
                        [isActiveComponent]="activeComponent === 'Resources'"
                        (click)="setActiveComponent('Resources')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8 16h12V4h-2v7l-2.5-1.5L13 11V4H8zm0 2q-.825 0-1.412-.587T6 16V4q0-.825.588-1.412T8 2h12q.825 0 1.413.588T22 4v12q0 .825-.587 1.413T20 18zm-4 4q-.825 0-1.412-.587T2 20V6h2v14h14v2zm9-18h5zM8 4h12z"/></svg>
                    </app-side-bar-item>
                    <app-side-bar-item component="Users"
                        [isActiveComponent]="activeComponent === 'Users'"
                        (click)="setActiveComponent('Users')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="1.5"><circle cx="9" cy="6" r="4"/><path stroke-linecap="round" d="M15 9a3 3 0 1 0 0-6M5.89 20.584C6.825 20.85 7.882 21 9 21c3.866 0 7-1.79 7-4s-3.134-4-7-4s-7 1.79-7 4c0 .345.077.68.22 1M18 14c1.754.385 3 1.359 3 2.5c0 1.03-1.014 1.923-2.5 2.37"/></g></svg>
                    </app-side-bar-item>
                    <app-side-bar-item component="Payments"
                        [isActiveComponent]="activeComponent === 'Payments'"
                        (click)="setActiveComponent('Payments')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8.4 21q-2.275 0-3.838-1.562T3 15.6q0-.95.325-1.85t.925-1.625L7.8 7.85L5.375 3h13.25L16.2 7.85l3.55 4.275q.6.725.925 1.625T21 15.6q0 2.275-1.575 3.838T15.6 21zm3.6-5q-.825 0-1.412-.587T10 14t.588-1.412T12 12t1.413.588T14 14t-.587 1.413T12 16M9.625 7h4.75l1-2h-6.75zM8.4 19h7.2q1.425 0 2.413-.987T19 15.6q0-.6-.213-1.162t-.587-1.013L14.525 9H9.5l-3.7 4.4q-.375.45-.587 1.025T5 15.6q0 1.425.988 2.413T8.4 19"/></svg>
                    </app-side-bar-item>
                    <app-side-bar-item component="Subscription"
                        [isActiveComponent]="activeComponent === 'sub-plans'"
                        (click)="setActiveComponent('sub-plans')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4 22q-.825 0-1.412-.587T2 20V10q0-.825.588-1.412T4 8h16q.825 0 1.413.588T22 10v10q0 .825-.587 1.413T20 22zm0-2h16V10H4zm6-1l6-4l-6-4zM4 7V5h16v2zm3-3V2h10v2zM4 20V10z"/></svg>
                    </app-side-bar-item>
                </div>
            </div>
            <!--user & logout-->
            <div class="flex flex-col gap-4 justify-center mx-2 mb-4">
                <div class="flex  items-center p-2">
                    <!-- <img src=""
                        class="w-10 h-10 rounded-full"/> -->
                    <p class="text-sm">{{profile?.username}}</p>
                </div>
                <div class="flex items-center p-2 cursor-pointer">
                    <svg (click)="logout()" 
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M28 16H8m12-8l8 8l-8 8m-9 4H3V4h8"/></svg>
                    <button (click)="logout()" class="cursor-pointer">logout</button>
                </div>
            </div>
        </div>
    </section>
    <!--main-->
    <section class="overflow-auto" 
        [ngClass]="{'w-full': adminUxService.showDrawer(), 'w-2/3 md:w-5/6': !adminUxService.showDrawer()}">
        <!--pages-->
        <div>
            <router-outlet></router-outlet>
        </div>
    </section>
</main>

