<main class="flex flex-col  md:flex-row-reverse" 
  [ngClass]="{'justify-center items-center': !pdfSrc, 'items-start':pdfSrc}">
  <!--close button and title-->
  <div class="flex justify-between w-full md:w-fit gap-2 md:gap-0">
    <p class="ms-2 block md:hidden whitespace-nowrap md:whitespace-normal overflow-auto">{{title}}</p>
     <!--close button-->
    <button *ngIf="pdfSrc" class="px-1 pt-[2px] pb-4 md:bg-gray-100 cursor-pointer">
      <svg (click)="close()"
        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"/></svg>
    </button>
  </div>
  <ngx-extended-pdf-viewer
      [src]="pdfSrc"
      height="100vh"
      width="100%"
      [showPrintButton]="false"
      [showDownloadButton]="false"
      [showOpenFileButton]="false"
      [textLayer]="true"
      class="w-full"
      *ngIf="pdfSrc"
  ></ngx-extended-pdf-viewer>
 
  <div
    *ngIf="!pdfSrc"
    class="h-96 flex flex-col items-center justify-center gap-4 text-gray-500"
    >
      No PDF file found.
    <button (click)="close()" class="text-primary underline cursor-pointer">back</button>
  </div>
</main>
