/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
@import "../node_modules/@videogular/ngx-videogular/fonts/videogular.css";

@theme {
    --color-primary: #567bba;    /*#6c93d4 -- light /* #2979FF;  -- blue*/ 
    --color-secondary: #45cca6; /*#56ba61; /* #4CAF50; */
    --color-header: #567bba;   
    --color-btnHover: #3d5887 ; /* --hover*/
    --color-btnSecHover: #34a384;
}

body {
    @apply bg-gray-200;
}


@layer components {

  .max-container {
      max-width: 1440px;
      margin: 0 auto;
  }

  .admin-container{
    @apply md:mx-4;
  }
    
  .table-head {
    @apply p-4 text-left font-semibold bg-gradient-to-br from-gray-100 to-blue-200 text-black;
  }
    
  .table-data {
    @apply p-5 text-black;
  }

  .form-label {
    @apply col-span-12 md:col-span-2 font-semibold text-gray-700 mb-1 md:mb-0;
  }

  .form-input {
    @apply col-span-12 md:col-span-10 p-2 rounded-lg border border-gray-400 focus:outline-none focus:ring-1 focus:ring-primary;
  }
  ring-blue-400
  .form-button {
    @apply flex items-center justify-center text-white px-6 py-2 rounded-md font-semibold transition-all duration-200;
  }

  .input-style {
    @apply w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-primary;
  }


  /* resouce  box */
  .bg-exam {
    background-image: linear-gradient(to right top, #f3e8ff, #a78bfa) /* Example green-ish diagonal gradient */
  }

  .bg-reading-materials {
    background-image: linear-gradient(to right top, #bfdbfe, #60a5fa); /* Example blue-ish diagonal gradient */
  }

  .bg-videos {
    background-image: linear-gradient(to right top, #fef3c7, #fcd34d); /* Example yellow-ish diagonal gradient */
  }
  
  .bg-lecture-videos {
    background-image: linear-gradient(to right top, #e0f2f7, #22d3ee); /* Example cyan-ish diagonal gradient */
  }
  
  .bg-lecture-notes {
    background-image: linear-gradient(to right top, #e8faff, #8bdcfa); /* Example purple-ish diagonal gradient */
  }
  
}

@layer base {
  /* Quill size styles */

  .ql-editor {
    font-size: 16px; /* Your desired normal font size */
  }

  .ql-size-small {
    @apply text-base;  
  }
  .ql-size-large {
    @apply text-lg;
  }
  .ql-size-huge {
    @apply text-sm;
  }


  .ql-align-center {
    @apply flex justify-center items-center;
  }
  .ql-align-left {
    @apply flex justify-start items-center;
  }
  .ql-align-right {
    @apply flex justify-end items-center;
  }

  .ql-align-justify {
    @apply text-justify;
  }
  /* -- ql image to tailwind--*/
  /* .ql-image-align-center {
    @apply flex justify-center items-center;
  }
  .ql-image-align-left {
    @apply flex justify-start items-center;
  }
  .ql-image-align-right {
    @apply flex justify-end items-center;
  } */

  .ql-container .ql-image-align-center {
    @apply flex justify-center items-center;
  }

  .ql-container .ql-image-align-left {
    @apply flex justify-start items-center;
  }

  .ql-container .ql-image-align-right {
    @apply flex justify-end items-center;
  }

  /* * -- quill table --- */
  /* div.ql-container .ql-table {
    @apply w-full border border-gray-300;
  }

  div.ql-container .ql-table td,
  div.ql-container .ql-table th {
    @apply border border-gray-300 p-2;
  }

  div.ql-container .ql-table th {
    @apply bg-gray-100 font-semibold;
  } */


  div.ql-editor {
    --blot-align-left-margin: 0.5rem 1rem 0.5rem 0;
    --blot-align-center-margin: 1rem auto;
    --blot-align-right-margin: 0.5rem 0 0.5rem 1rem;
  }

  image wrapper common 
  div.ql-editor [class^="ql-image-align-"] {
        display: flex;
        flex-wrap: wrap;
        width: var(--resize-width);
        max-width: none;
    }
  div.ql-editor [class^="ql-image-align-"]>img {
      flex: 1;
  }

  /* image wrapper common
  .ql-editor [class^="ql-image-align-"] {
    display: flex;
    flex-wrap: wrap;
    width: var(--resize-width);
    max-width: 100%;
  }

  .ql-editor [class^="ql-image-align-"]>img {
    width: 100%;
    height: auto;
  } */
  /* left */
  .ql-editor .ql-image-align-left,
  .ql-editor .ql-iframe-align-left {
      margin: var(--blot-align-left-margin);
      float: left;
  }
  /* centre */
  div.ql-editor .ql-image-align-center,
  div.ql-editor .ql-iframe-align-center {
      margin: var(--blot-align-center-margin);
  }
  /* right */
  div.ql-editor .ql-image-align-right,
  div.ql-editor .ql-iframe-align-right {
      margin: var(--blot-align-right-margin);
      float: right;
  }

  /* image caption */
  /* common */
  div.ql-editor [class^="ql-image-align-"][data-title] {
      margin-bottom: 0;
  }
  div.ql-editor [class^="ql-image-align-"][data-title]::after {
      content: attr(data-title);
      padding: 0.25rem 0.2rem;
      font-size: 0.9rem;
      line-height: 1.1;
      background-color: white;
      width: 100%;
  }
  /* remove text decoration on caption when image linked */
  a:has([class^="ql-image-align-"]>img) {
      text-decoration: none !important;
  }
  /* left */
  div.ql-editor .ql-image-align-left[data-title]::after {
      text-align: left;
  }
  /* center */
  div.ql-editor .ql-image-align-center[data-title]::after {
      /* text-align: center; */
      @apply flex justify-center;
  }
  /* right */
  div.ql-editor .ql-image-align-right[data-title]::after {
      text-align: right;
  }

  /* for links from quill */
  a {
    @apply text-blue-600 underline;
  }

  p:empty {
    @apply min-h-3;
    @apply flex flex-wrap
  }

  ul {
    @apply list-disc list-inside; /* Example for unordered lists */
  }
  
  ol {
    @apply list-decimal list-inside; /* Example for ordered lists */
  }
  
  li {
    @apply pl-4; /* Add some padding for spacing */
  }

}

