<main class="absolute top-10 left-0 flex flex-col w-screen">
    <section class="h-full max-h-screen overflow-y-auto flex flex-col p-4 gap-3 bg-white  ms-5 me-2 rounded-lg shadow-2xl">
        <p class="sticky top-0 text-lg font-semibold text-gray-800 mb-4 bg-white">Questions</p>
        @for (question of questionList; track $index; let i = $index) {
            <div (click)="selectQuestion(i)"
                class="p-2 rounded-md cursor-pointer hover:text-blue-400"
                [class.bg-blue-100]="i === currentQuestionIndex"
                [class.text-primary]="i === currentQuestionIndex"
                [class.bg-green-100]="correctAnswers.get(question.id ?? '') === true && (mode === 'STUDY' || mode === 'TEST' && isSubmitted)"
                [class.bg-red-100]="correctAnswers.get(question.id ?? '') === false && (mode === 'STUDY' ||  mode === 'TEST' && isSubmitted)"
            >
                Question {{ question.questionNumber }}
            </div>
        }
    </section>
</main>


