<main class="flex flex-col w-full h-full items-center justify-center shadow-xl ">
    <section class="flex flex-col gap-4 bg-white p-4 rounded-lg w-full h-full">
        <h1 class="text-lg">Are you sure?</h1>
        <div>
        <p>{{message}}</p>
        </div>
        <div class="w-full flex justify-evenly">
            <p  (click)="onConfirm()" class="cursor-pointer font-mono"
                [ngClass]="{'text-secondary': !isWarning, 'text-red-400': isWarning}">
                {{buttonName}}
            </p>
            <p class="text-blue-800 cursor-pointer" (click)="onCancel()">Cancel</p>
        </div>
    </section>
</main>
