<main>
    <div class="sticky top-0 w-full z-10 bg-white">
      <app-header
        componentName="User"
        (onSearch)="onSearch($event)"
      >
      </app-header>
    </div>
    <!--no user found message-->
    <ng-container *ngIf="userList.length === 0" class="flex justify-center py-10">
      No users found.
    </ng-container>
    <section *ngIf="userList.length > 0">
      <!--on large screen-->
        <div class="hidden md:block">
            <table class="min-w-full border border-gray-300 bg-white">
            <thead class="bg-gray-200 sticky top-16">
                <tr>
                    <th class="table-head w-1/12">Email</th>
                    <th class="table-head w-1/12">Suscription</th>
                    <th class="table-head w-1/12">Start Date</th>
                    <th class="table-head w-1/12">End Date</th>
                    <th class="table-head w-1/12">Enabled</th>
                    <th class="table-head w-1/12">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList" class="border-b border-gray-300 hover:bg-gray-100">                          
                    <td class="table-data">{{ user.email }}</td>
                    <td class="table-data">{{ user.subscriptionLevel ? user.subscriptionLevel : '--' }}</td>
                    <td class="table-data">{{ user.startDate ? user.startDate : '--' }}</td>
                    <td class="table-data">{{ user.endDate ? user.endDate: '--' }}</td>
                    <td class="table-data">
                        <span>{{user.enabled ? 'Yes' : 'NO'}}</span>
                    </td>
                    <td class="table-data">
                        <div class="flex gap-5 relative">
                            <!-- <p class="text-blue-500 cursor-pointer">detail</p>  -->
                            <div (click)="onShowActions(user.id)" class="cursor-pointer donthide">
                                <svg class="donthide"
                                xmlns="http://www.w3.org/2000/svg" width="32" height="24" viewBox="0 0 16 16"><path fill="#2979FF" d="M9.5 13a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0"/></svg>
                            </div>
                            <div *ngIf="showActions && user.id === selectedUserId" 
                                class="absolute -bottom-20 z-20 cursor-pointer bg-primary rounded-md donthide">
                                <div class="flex flex-col gap-2 text-white font-semibold">
                                    <p class="px-4 py-1 hover:bg-gray-500 rounded-md" 
                                        (click)="onToggleEnabledStatus(user.id)">
                                        <span>{{user.enabled ? 'Disable' : 'Enable'}}</span>
                                    </p>
                                    <p class="px-4 py-1 hover:bg-gray-500 rounded-md"  
                                        (click)="onDelete(user.id)">
                                        Delete
                                    </p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        <!--on mobile view-->
        <div class="block md:hidden">
            <div *ngFor="let user of userList" class="bg-white rounded-lg shadow-md p-4 mb-4 border border-gray-200">
                <div class="mb-2">
                    <span class="font-semibold text-gray-600">Email:</span>
                    <span class="ml-2">{{ user.email }}</span>
                </div>
                <div class="mb-2">
                    <span class="font-semibold text-gray-600">subscriptionLevel:</span>
                    <span class="ml-2">{{ user.subscriptionLevel ? user.subscriptionLevel : '--' }}</span>
                </div>
                <div class="mb-2">
                    <span class="font-semibold text-gray-600">startDate:</span>
                    <span class="ml-2">{{ user.startDate ? user.startDate : '--' }}</span>
                </div>
                <div class="mb-2">
                    <span class="font-semibold text-gray-600">endDate:</span>
                    <span class="ml-2">{{ user.endDate ? user.endDate : '--' }}</span>
                </div>
                <div class="mb-2">
                    <span class="font-semibold text-gray-600">Enabled:</span>
                    <span class="ml-2">{{ user.enabled ? 'YES' : 'NO' }}</span>
                </div>
        
                <!-- Actions -->
                <div class="flex items-center justify-end mt-4 gap-4 relative">                        
                    <div (click)="onShowActions(user.id)" class="cursor-pointer donthide">
                    <svg class="donthide" xmlns="http://www.w3.org/2000/svg" width="28" height="24" viewBox="0 0 16 16">
                        <path fill="#2a7d6e"
                        d="M9.5 13a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0" />
                    </svg>
                    </div>
            
                    <div *ngIf="showActions && user.id === selectedUserId"
                    class="absolute right-0 top-10 z-20 bg-grn rounded-md donthide">
                    <div class="flex flex-col gap-2 text-white font-semibold cursor-pointer">
                        <p class="px-4 py-1 hover:bg-gray-500 rounded-md" 
                        (click)="onToggleEnabledStatus(user.id)">
                            <span *ngIf="user.enabled">Disable</span>
                            <span *ngIf="!user.enabled">Enable</span>
                        </p>
                        <p class="px-4 py-1 hover:bg-gray-500 rounded-md" 
                            (click)="onDelete(user.id)">
                            Delete
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <app-pagination *ngIf="!isEmptyPage" class="w-full m-5 z-10 sticky bottom-0 bg-white"
            [page]="page"
            [size]="size"
            [isFirstPage]="isFirstPage"
            [isLastPage]="isLastPage"
            [numberOfElements]="numberOfElements"
            [totalElements]="totalElements"
            [totalPages]="totalPages"
            (sizeChanged)="onSizeChanged($event)"
            (pageChanged)="onPageChanged($event)"
        >
        </app-pagination>
  </section>
</main>
