<main class="flex flex-col w-full p-4 bg-gray-100 rounded-lg shadow-lg h-screen">
  <div class="flex justify-between px-4">
    <h2 class="text-xl text-gray-800 mb-4">{{ title }}</h2>
    <button class="cursor-pointer">
      <svg (click)="close()"
      xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"/></svg>
    </button>
  </div>

  <vg-player
    *ngIf="isVideoAvailable"
    (onPlayerReady)="onPlayerReady($event)"
    class="w-full"
  >
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <vg-controls class="flex items-center space-x-2">
      <vg-play-pause></vg-play-pause>
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>
      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
      <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video
      #media
      [vgMedia]="$any(media)"
      [vgHls]="videoSource"
      class="w-full rounded-md"
      preload="metadata"
      crossorigin
    >
      <source [src]="videoSource" type="application/x-mpegURL" />
    </video>
  </vg-player>
  <!--description-->
  <div *ngIf="isVideoAvailable" class="p-4 h-40 w-full rounded-md shadow-2xl">
    <p>{{description}}</p>
  </div>

  <!-- Fallback Message -->
  <div
    *ngIf="!isVideoAvailable"
    class="w-full h-64 flex flex-col items-center justify-center bg-white rounded-md border border-gray-300 text-gray-600 text-lg"
  >
    <p>{{ errorMessage }}</p>
    <button (click)="close()" class="text-primary underline cursor-pointer">back</button>
  </div>
</main>