<main class="max-container w-full min-h-screen py-10 flex flex-col justify-center items-center gap-6">
    <!-- Cancel -->
    <div class="fixed top-4 right-4">
      <svg class="cursor-pointer" (click)="onCancel()"
        xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
        <path fill="#888888"
          d="m12 13.4l-4.9 4.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7l4.9-4.9l-4.9-4.9q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.9 4.9l4.9-4.9q.275-.275.7-.275t.7.275t.275.7t-.275.7L13.4 12l4.9 4.9q.275.275.275.7t-.275.7t-.7.275t-.7-.275z" />
      </svg>
    </div>
  
    <!-- Header -->
    <header class="text-center">
      <p class="text-2xl font-mono font-bold">Manage Resource</p>
    </header>
  
    <!-- Form -->
    <section class="w-full max-w-3xl space-y-4">
      <!-- Error Messages -->
      <div *ngIf="errMsgs" class="text-center space-y-1">
        <p *ngFor="let msg of errMsgs" class="text-red-500 text-sm">
          {{ msg }}
        </p>
      </div>
  
      <!-- Type -->
      <div class="grid grid-cols-12 gap-2 items-start">
        <label class="form-label">Type<span class="text-red-400">*</span></label>
        <div #typeListElement class="relative w-full col-span-12 md:col-span-10">
          <input [(ngModel)]="createResourceDto.type" class="form-input w-full cursor-pointer" type="text" placeholder="Type"
            (click)="showTypeList = true" (focus)="showTypeList = true" />
          <div *ngIf="showTypeList"  class="absolute z-10 w-full mt-1">
            <div *ngFor="let type of typeList; let idx=index"
              class="w-full bg-white shadow hover:bg-gray-200 p-2 cursor-pointer"
              [ngClass]="{
                'rounded-t-md': idx == 0,
                'rounded-b-md': idx == typeList.length - 1
              }"
              (click)="onTypeSelected(type)">
              {{ type }}
            </div>
          </div>
        </div>
      </div>
  
      <!-- Title -->
      <div class="grid grid-cols-12 gap-2 items-center">
        <label class="form-label">Title<span class="text-red-400">*</span></label>
        <input [(ngModel)]="createResourceDto.title" class="form-input" type="text" placeholder="Title" />
      </div>
      <!--search parent Resource-->
      <div *ngIf="!['LECTURES','BOOKS','ERMP','USMLE_STEP_1','USMLE_STEP_2'].includes(createResourceDto.type)"  
            class="w-full grid grid-cols-12">
        <label class="form-label">Parent Resource</label>
        <div #parentListElement class="relative w-full col-span-12 md:col-span-10">
            <input [formControl]="searchControl" class="w-full form-input"  type="text" placeholder="search category" />
            <div *ngIf="showParentResourceList"
                class="absolute w-full flex flex-col items-center z-20">
              <div *ngFor="let parentResource of parentResourceList; let idx=index" 
                  class="w-2/3 flex bg-white shadow-md hover:bg-gray-400" 
                  [ngClass]="{'rounded-t-md' : idx==0, 
                      'rounded-b-md' : idx == (parentResourceList.length - 1)
                  }"
                  >
                  <p (click)="onParentResourceSelected(parentResource)" 
                      class="cursor-pointer p-2 w-full ">
                      {{parentResource.title}}
                  </p>
              </div>
            </div>
        </div>
      </div>
  
      <!-- Subscription Level -->
      <div *ngIf="!createResourceDto.parentResourceId" class="grid grid-cols-12 gap-2 items-start">
        <label class="form-label">Subscription Level<span class="text-red-400">*</span></label>
        <div #subLevelListElement class="relative w-full col-span-12 md:col-span-10">
          <input [(ngModel)]="createResourceDto.requiredSubLevel" class="form-input w-full cursor-pointer" type="text"
            placeholder="Subscription Level" (click)="showSubscriptionLevelList = true"
            (focus)="showSubscriptionLevelList = true" />
          <div *ngIf="showSubscriptionLevelList" class="absolute z-10 w-full mt-1">
            <div *ngFor="let level of subscriptionLevelList; let idx=index"
              class="w-full bg-white shadow hover:bg-gray-200 p-2 cursor-pointer"
              [ngClass]="{
                'rounded-t-md': idx == 0,
                'rounded-b-md': idx == subscriptionLevelList.length - 1
              }"
              (click)="onSubscriptionLevelSelected(level)">
              {{ level }}
            </div>
          </div>
        </div>
      </div>
  
      <!-- Description -->
      <div class="grid grid-cols-12 gap-2 items-start">
        <label class="form-label">Description<span class="text-red-400">*</span></label>
        <textarea [(ngModel)]="createResourceDto.description" rows="4" 
          class="form-input"  placeholder="description"></textarea>
      </div>
  
      <!-- File Selector -->
      <div *ngIf="!['LECTURES','BOOKS','LECTURE_VIDEOS','LECTURE_NOTES','READING_MATERIALS','ERMP','USMLE_STEP_1','USMLE_STEP_2'].includes(createResourceDto.type)"
       class="grid grid-cols-12 gap-2 items-center">
        <label class="form-label">Content</label>
        <div class="w-full col-span-12 md:col-span-10 flex justify-between gap-2">
          <input #fileInput class="w-full form-input cursor-pointer" type="file" (change)="onFileSelected($event, false)" />
          <button (click)="resetFileInput(fileInput, false)" 
              class="px-4 cursor-pointer text-red-500 hover:text-red-700" title="Delete">
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5-4h4m-4 4v12m-4-12v12" />
              </svg>
          </button>
        </div>
      </div>

      <!--existing file-->
      <div *ngIf="createResourceDto.id && createResourceDto.contentPath"
        class="grid grid-cols-12 gap-4 items-center ms-2 md:ms-12">
          <input disabled type="text" class="w-full form-input" value={{createResourceDto.contentPath}} />
          <button (click)="deleteFile(createResourceDto.contentPath, false)" 
            class="text-red-500 cursor-pointer">delete</button>
      </div>

      <!--file didn't match error-->
      <p *ngIf="showFileTypeMatchError" class="text-red-500 text-sm">Selected file type doesn't match</p>

      <!-- Preview File Selector -->
      <div *ngIf="!['LECTURES','BOOKS','LECTURE_VIDEOS','LECTURE_NOTES','READING_MATERIALS','ERMP','USMLE_STEP_1','USMLE_STEP_2'].includes(createResourceDto.type)"
        class="grid grid-cols-12 gap-2 items-center">
        <label class="form-label">Preview Content</label>
        <div class="w-full col-span-12 md:col-span-10 flex justify-between gap-2">
          <input #previewFileInput class="w-full form-input cursor-pointer" type="file" (change)="onFileSelected($event, true)" />
          <button (click)="resetFileInput(previewFileInput, true)" 
              class="px-4 cursor-pointer text-red-500 hover:text-red-700" title="Delete">
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5-4h4m-4 4v12m-4-12v12" />
              </svg>
          </button>
        </div>
      </div>
      <!--existing preview  file-->
      <div *ngIf="createResourceDto.id && createResourceDto.previewResourcePath"
        class="grid grid-cols-12 gap-4 items-center ms-2 md:ms-12">
          <input disabled type="text" class="w-full form-input" value={{createResourceDto.previewResourcePath}} />
          <button (click)="deleteFile(createResourceDto.previewResourcePath,true)" 
            class="text-red-500 cursor-pointer">delete</button>
      </div>

       <!-- preview file didn't match error-->
       <p *ngIf="showPreviewFileTypeMatchError" class="text-red-500 text-sm">Selected file type doesn't match</p>
  
  
      <!-- Save Button -->
      <div class="flex justify-center pt-4">
        <button class="flex justify-center items-center form-button bg-primary hover:bg-btnHover w-40 h-12 relative cursor-pointer"
          [disabled]="isUploading"
          (click)="onSave()">
          <ng-container *ngIf="!isUploading; else loading">
            <p class="text-lg">
              <span>{{createResourceDto.id ? 'Update' : 'Save'}}</span>
            </p>
          </ng-container>
          <ng-template #loading>
            <div class="w-6 h-6 border-4 border-white border-t-transparent rounded-full animate-spin"></div>
          </ng-template>
        </button>
      </div>
    </section>
</main>
  