<main class="flex flex-col w-full h-full items-center justify-center rounded-xl shadow-xl font-mono">
    <section class="flex flex-col gap-4 p-8 rounded-lg w-full h-full">
        <h1 class="w-full text-lg p-2 px-4 shadow-3xl rounded-lg bg-blue-100">
            Do you want to <span>{{score ===null ? 'resume' : 'review'}} your previous attempt?</span> ?
        </h1>
        <div class="flex flex-col gap-2 bg-white">
            <p>Last Updated : {{formattedDateTime(lastUpdatedDate)}}</p>
            <p *ngIf="score===null">Total Answered Questions: {{answeredCount}}</p>
            <p>Total Number of Questions: {{total}}</p>
            <p *ngIf="mode === 'TEST'">Time Left: {{timeLeft}} minute</p>
            <p *ngIf="score !== null">Score: {{score}} / {{total}}</p>
        </div>
        <div class="w-full flex justify-evenly">
            <button  (click)="onConfirm()" 
                class="py-1 px-4 text-secondary border-1 border-gray-400 rounded-lg cursor-pointer">
                {{buttonName}}
            </button>
            <button class="py-1 px-4 text-blue-800 border-1 border-gray-400 rounded-lg cursor-pointer" (click)="onCancel()">
                Retake
            </button>
        </div>
    </section>
</main>
