<section class="py-10 px-2 bg-blue-100 mb-1">
    <div class="max-w-7xl mx-auto">
      <h2 id="resources" 
        class="text-3xl font-bold text-gray-800 mb-5 text-center">
        Resources
      </h2>
  
      <!-- Filter Tabs -->
      <div class="flex justify-center space-x-2 md:space-x-4 pb-4 pt-2 sticky top-16 md:top-18 z-20 bg-blue-100">
        <button
          (click)="onFilterSelected('FREE')"
          [class.text-primary]="activeFilter === 'FREE'"
          [class.border-2]="activeFilter === 'FREE'"
          [class.border-primary]="activeFilter === 'FREE'"        
          class="py-1 px-3 md:px-4 text-gray-500 border-1 border-gray-400 rounded-lg transition-colors cursor-pointer"
        >
          Free
        </button>
        <button
          (click)="onFilterSelected('BASIC')"
          [class.text-primary]="activeFilter === 'BASIC'"
          [class.border-2]="activeFilter === 'BASIC'"
          [class.border-primary]="activeFilter === 'BASIC'"        
          [class.border-secondary]="activeFilter === 'BASIC' && subscriptionLevel === 'BASIC'"
          [class.text-secondary]="activeFilter === 'BASIC' && subscriptionLevel === 'BASIC'"
          class="py-1 px-3 md:px-4 text-gray-500 border-1 border-gray-400 rounded-lg transition-colors cursor-pointer"
        >
          Basic
        </button>
        <button
          (click)="onFilterSelected('ADVANCED')"
          [class.text-primary]="activeFilter === 'ADVANCED'"
          [class.border-2]="activeFilter === 'ADVANCED'"
          [class.border-primary]="activeFilter === 'ADVANCED'"        
          [class.border-secondary]="activeFilter === 'ADVANCED' && subscriptionLevel === 'ADVANCED'"
          [class.text-secondary]="activeFilter === 'ADVANCED' && subscriptionLevel === 'ADVANCED'"
          class="py-1 px-3 md:px-4 text-gray-500 border-1 border-gray-400 rounded-lg transition-colors cursor-pointer"
        >
          Advanced
        </button>
        <button
          (click)="onFilterSelected('PREMIUM')"
          [class.text-primary]="activeFilter === 'PREMIUM'"
          [class.border-2]="activeFilter === 'PREMIUM'"
          [class.border-primary]="activeFilter === 'PREMIUM'"        
          [class.border-secondary]="activeFilter === 'PREMIUM' && subscriptionLevel === 'PREMIUM'"
          [class.text-secondary]="activeFilter === 'PREMIUM' && subscriptionLevel === 'PREMIUM'"
          class="py-1 px-3 md:px-4 text-gray-500 border-1 border-gray-400 rounded-lg transition-colors cursor-pointer"
        >
          Premium
        </button>
      </div>

      <!--resouce type buttons-->
      <div class="flex justify-center space-x-2 md:space-x-4 pb-2 sticky top-30 z-20 bg-blue-100">
        <button *ngIf="examResources.length > 0"  (click)="scrollToResouceType('exams')" 
            class="cursor-pointer underline font-mono text-sm hover:text-blue-600">
           Exams
        </button>
        <button *ngIf="lectureResources.length > 0"  (click)="scrollToResouceType('lectures')" 
            class="cursor-pointer underline font-mono text-sm hover:text-blue-600">
           Lectures
        </button>
        <button *ngIf="noteResources.length > 0"  (click)="scrollToResouceType('Reading_Matrials')" 
            class="cursor-pointer underline font-mono text-sm hover:text-blue-600">
          Reading_Matrials
        </button>
        <button *ngIf="videoResources.length > 0" (click)="scrollToResouceType('videos')" 
            class="cursor-pointer underline font-mono text-sm hover:text-blue-600">
          Videos
        </button>
        <button *ngIf="bookResources.length > 0" (click)="scrollToResouceType('exams')" 
            class="cursor-pointer underline font-mono text-sm hover:text-blue-600">
          Books
        </button>
      </div>

      <!--search -->
      <div class="w-full flex items-center justify-center h-12 mb-2 sticky top-36 z-20 bg-blue-100">
           @if (!showSearchInput) {
            <button  (click)="onSearchClick()"
              class=" rounded-xl px-4 py-1 border-1 border-primary cursor-pointer">
              search
            </button>
           } @else {
            <div class="relative w-5/6  md:w-1/4 flex justify-center ">
              <input #searchInput (input)="onSearch(searchInput.value)" type="text" placeholder="serach"  
                  class="w-full p-2 rounded-lg border-1 border-primary bg-blue-50 outline-none"                   
              />
              <button (click)="clearSearchArea()" 
                  class="absolute p-2 top-1/2 -right-1 -translate-y-1/2 bg-transparent text-gray-600 hover:text-black cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="m8.4 16.308l3.6-3.6l3.6 3.6l.708-.708l-3.6-3.6l3.6-3.6l-.708-.708l-3.6 3.6l-3.6-3.6l-.708.708l3.6 3.6l-3.6 3.6zM12.003 21q-1.866 0-3.51-.708q-1.643-.709-2.859-1.924t-1.925-2.856T3 12.003t.709-3.51Q4.417 6.85 5.63 5.634t2.857-1.925T11.997 3t3.51.709q1.643.708 2.859 1.922t1.925 2.857t.709 3.509t-.708 3.51t-1.924 2.859t-2.856 1.925t-3.509.709M12 20q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
              </button>
            </div>
           }
      </div>

      <!-- Resource Grid -->
      @if (filteredResources.length === 0) {
        <div class="flex justify-center items-center mb-12 min-h-32">
            <p>no resource found</p>
        </div>
      }
      <!-- Resource Grid by Type -->
      <!-- Exams Section -->
      <div *ngIf="examResources.length > 0" class="mb-12" id="exams">
        <div class="flex items-center my-6">
          <div class="flex-grow border-t border-gray-300"></div>
          <span class="mx-4 text-xl font-semibold text-gray-800">Exams</span>
          <div class="flex-grow border-t border-gray-300"></div>
        </div>
        <app-resource-box [resourceList]="examResources">
        </app-resource-box>
      </div>
      <!--Lecture Section-->
      <div *ngIf="lectureResources.length > 0" class="mb-12" id="lectures">
        <div class="flex items-center my-6">
          <div class="flex-grow border-t border-gray-300"></div>
          <span class="mx-4 text-xl font-semibold text-gray-800">Lectures</span>
          <div class="flex-grow border-t border-gray-300"></div>
        </div>
        <app-resource-box [resourceList]="lectureResources">
        </app-resource-box>
      </div>
      <!-- Notes Section -->
      <div *ngIf="noteResources.length > 0" class="mb-12" id="Reading_Matrials">
        <div class="flex items-center my-6">
          <div class="flex-grow border-t border-gray-300"></div>
          <span class="mx-4 text-xl font-semibold text-gray-800">Reading_Materials</span>
          <div class="flex-grow border-t border-gray-300"></div>
        </div>
        <app-resource-box [resourceList]="noteResources">
        </app-resource-box>
      </div>

      <!-- Videos Section -->
      <div *ngIf="videoResources.length > 0" class="mb-12" id="videos">
        <div class="flex items-center my-6">
          <div class="flex-grow border-t border-gray-300"></div>
          <span class="mx-4 text-xl font-semibold text-gray-800">Videos</span>
          <div class="flex-grow border-t border-gray-300"></div>
        </div>
        <app-resource-box [resourceList]="videoResources">
        </app-resource-box>
      </div>
      <!-- Books Section -->
      <div *ngIf="bookResources.length > 0" class="mb-12" id="books">
        <div class="flex items-center my-6">
          <div class="flex-grow border-t border-gray-300"></div>
          <span class="mx-4 text-xl font-semibold text-gray-800">Books</span>
          <div class="flex-grow border-t border-gray-300"></div>
        </div>
        <app-resource-box [resourceList]="bookResources">
        </app-resource-box>
      </div>
    </div>
</section>