<section class="py-12 px-4 bg-gradient-to-t from-blue-100 to-blue-200">
    <div class="max-w-7xl mx-auto">
      <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center">Choose Your Plan</h2>
      
      
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <!--subscription plan box-->
        <div *ngFor="let plan of plans"
            class='border border-primary shadow-primary shadow-2xl rounded-lg p-6 relative'
             [ngClass]="[
              isCurrentPlan(plan.level) ? 'border-4 shadow-4xl border-secondary' : '',
              plan.level === 'BASIC' ? 'bg-gradient-to-br from-slate-300 to-slate-100' : '',
              plan.level === 'ADVANCED' ? 'bg-gradient-to-br from-gray-400 to-gray-200' : '',
              plan.level === 'PREMIUM' ? 'bg-gradient-to-br from-yellow-600 to-yellow-500' : ''   
            ]"
        >
          <h3 class="text-2xl font-semibold text-gray-900 mb-4">{{ plan.level }}</h3>
          <div class="mb-4 flex items-center justify-between">
            <p class="text-xl font-bold text-gray-900">{{ plan.price }} birr</p>
            @if (isCurrentPlan(plan.level)) {
              <p class="text-sm text-gray-600">till {{formatDate(subscriptionDto?.endDate)}}</p>
            } @else {
              <p class="text-sm text-gray-600">for {{plan.durationInMonth}} month</p>
            }
          </div>
          <ul class="h-[200px] text-gray-800 mb-6">
            <li *ngFor="let benefit of plan.benefits" class="mb-2 flex items-center">
              <svg class="w-5 h-5 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              {{ benefit }}
            </li>
          </ul>
          <button
            (click)="handleSubscribe(plan)"
            [disabled]="isCurrentPlan(plan.level) || isLowerTier(plan.level)"
            [ngClass]="{
              'bg-primary hover:bg-btnHover cursor-pointer': !isCurrentPlan(plan.level) && !isLowerTier(plan.level),
              'bg-gray-400 cursor-not-allowed': isCurrentPlan(plan.level) || isLowerTier(plan.level),
            }"
            class="w-full text-white py-3 rounded-lg text-base font-medium transition-colors"
          >
            {{ getButtonText(plan.level) }}
          </button>
        </div>
      </div>
    </div>
</section>
