<section class="py-12 px-4 bg-gray-100 shadow-2xl border-b-2 border-gray-200">
    <div class="max-w-7xl mx-auto">
      <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center">Choose Your Plan</h2>
  
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div *ngFor="let plan of plans"
            class="'border border-gray-200'"
             [ngClass]="{
               'border-2 shadow-4xl border-secondary': isCurrentPlan(plan.level)
             }"
             class="bg-white rounded-lg shadow-md p-6 relative"
        >
          <h3 class="text-2xl font-semibold text-gray-800 mb-4">{{ plan.level }}</h3>
          <p class="text-xl font-bold text-gray-900 mb-4">{{ plan.price }}</p>
          <ul class="text-gray-600 mb-6">
            <li *ngFor="let benefit of plan.benefits" class="mb-2 flex items-center">
              <svg class="w-5 h-5 text-secondary mr-2" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              {{ benefit }}
            </li>
          </ul>
          <button
            (click)="handleSubscribe(plan)"
            [disabled]="isCurrentPlan(plan.level) || isLowerTier(plan.level)"
            [ngClass]="{
              'bg-primary hover:bg-btnHover cursor-pointer': !isCurrentPlan(plan.level) && !isLowerTier(plan.level),
              'bg-gray-400 cursor-not-allowed': isCurrentPlan(plan.level) || isLowerTier(plan.level),
            }"
            class="w-full text-white py-3 rounded-lg text-base font-medium transition-colors"
          >
            {{ getButtonText(plan.level) }}
          </button>
        </div>
      </div>
    </div>
</section>
