<main class="w-full flex flex-col md:flex-row gap-1 p-2 justify-between">
    <section class="w-full md:w-4/5 flex flex-col gap-4 md:flex-row">
        <div class="flex gap-4 items-center">
            <!--toggle side bar-->
            <svg *ngIf="onShowDrawer" (click)="toggleShowDrawer()" 
                class="cursor-pointer"
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 14 14"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M13.5 2H.5m13 5H.5m13 5H.5"/>
            </svg>
            <!--Create new button-->
            @if (componentName.toLocaleLowerCase() !== 'user' 
                && componentName.toLocaleLowerCase() !== 'subscription' 
                && componentName.toLocaleLowerCase() !== 'payment') {
                <button class="flex gap-2 px-3 py-2 bg-primary rounded-lg bg-grn items-center text-white 
                                font-medium cursor-pointer hover:bg-btnHover"
                    (click)="onCreateNew()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="currentColor" d="M12 21q-.425 0-.712-.288T11 20v-7H4q-.425 0-.712-.288T3 12t.288-.712T4 11h7V4q0-.425.288-.712T12 3t.713.288T13 4v7h7q.425 0 .713.288T21 12t-.288.713T20 13h-7v7q0 .425-.288.713T12 21"/></svg>
                    CREATE NEW {{componentName.toUpperCase()}} 
                </button>
            }
        </div>
        <!--for payment page-->
        @if (componentName.toLocaleLowerCase() === 'payment') {
            <section class="w-full md:w-1/2 flex flex-col md:flex-row justify-center gap-2 items-center">
                <!--date-->
                <div class="flex items-center gap-2">
                    <label>After</label>
                    <input type="datetime-local" [(ngModel)]="dateTime" (change)="onDateTimeChange()"/>
                </div>
            </section>
        }
        <!--print page-->
        <div *ngIf="printSectionId.length > 0" class="flex items-center">
            <button class="btn" printSectionId={{printSectionId}} ngxPrint>
                🖨️ Print Table
            </button>
        </div>
    </section>
    <!--Search bar-->
    <section class="w-full md:w-1/2 lg:w-3/6 flex gap-1 justify-end items-center  md:order-last">
        <div class="relative w-full">
            <input  type="text" #searchInput  placeholder="serach"  
                class="w-full p-2 rounded-lg border-2 border-primary bg-white outline-none" 
                [formControl]="searchControl"
            />
            <button (click)="clearSearchArea()" 
                class="absolute p-2 top-1/2 -right-1 -translate-y-1/2 bg-transparent text-gray-600 hover:text-black">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="m8.4 16.308l3.6-3.6l3.6 3.6l.708-.708l-3.6-3.6l3.6-3.6l-.708-.708l-3.6 3.6l-3.6-3.6l-.708.708l3.6 3.6l-3.6 3.6zM12.003 21q-1.866 0-3.51-.708q-1.643-.709-2.859-1.924t-1.925-2.856T3 12.003t.709-3.51Q4.417 6.85 5.63 5.634t2.857-1.925T11.997 3t3.51.709q1.643.708 2.859 1.922t1.925 2.857t.709 3.509t-.708 3.51t-1.924 2.859t-2.856 1.925t-3.509.709M12 20q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
            </button>
        </div>
        <div class="z-20">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5l-1.5 1.5l-5-5v-.79l-.27-.27A6.52 6.52 0 0 1 9.5 16A6.5 6.5 0 0 1 3 9.5A6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14S14 12 14 9.5S12 5 9.5 5"/></svg> 
        </div>
    </section>
    
</main>

