<main class="admin-container flex gap-2 h-full overflow-hidden">
  <!--toggle side bar-->
  <div class="py-1">
    <svg *ngIf="adminUxService.showDrawer()" (click)="toggleShowDrawer()" 
        class="cursor-pointer sticky top-2"
        xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 14 14"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M13.5 2H.5m13 5H.5m13 5H.5"/>
    </svg>
  </div>

  <div class="flex flex-col w-full h-full p-4 bg-gray-100 rounded-lg">
    <section class="flex flex-col w-full py-2 sticky top-0 bg-gray-100 z-10">
      <h2 class="font-semibold text-gray-800 mb-2">{{ title }}</h2>
      <!--err msg-->
      <div *ngIf="errMsgs" class="text-center space-y-1">
          <p *ngFor="let msg of errMsgs" class="text-red-500 text-sm">
            {{ msg }}
          </p>
      </div>
      <!--question number-->
      <div class="py-2 flex gap-2 items-center justify-start">
        <label class="text-gray-700">Question number</label>
        <input class="form-input" [(ngModel)]="createQuestionDto.questionNumber" type="number" placeholder="question-number"/>
      </div>
    </section>
    <!-- Question Text -->
    <div class="mb-4 w-full">
      <label class="block text-gray-700 mb-2">Question Text</label>
      <!-- <div (click)="editQuestion()" [innerHTML]="createQuestionDto.questionText" 
        class="form-input cursor-pointer min-h-[3rem] break-words whitespace-normal overflow-hidden py-2 px-3 w-full max-w-90%">        
      </div> -->
      <div [appFirefoxQuillViewPatch]="createQuestionDto.questionText" 
          class="form-input cursor-pointer">
        <quill-view 
          [content]="createQuestionDto.questionText"
          format="html"
          theme="snow"
          [sanitize]="true"
          (click)="editQuestion()"
          class="w-full"
        >
        </quill-view>
      </div>
    </div>
  
    <!-- Choices -->
    <div class="mb-4">
      <label class="block text-gray-700 mb-2">Choices</label>
      <div class="space-y-4">
        <div
          *ngFor="let choice of createQuestionDto.choices; let i = index"
          class="flex items-center space-x-2"
        >
          <span class="w-6 font-bold">{{ getChoiceLetter(i) }}.</span>
          <input
            type="radio"
            [checked]="choice.isCorrect"
            (change)="toggleCorrect(i)"
            class="h-4 w-4 text-blue-600"
          />
          <!--choice text-->
          <!-- <div class=" w-full">
            <div (click)="editChoice(i)" [innerHTML]="choice.text" 
              class="form-input cursor-pointer min-h-[3rem] break-words whitespace-normal overflow-hidden py-2 px-3 w-full max-w-90%">        
            </div>
          </div> -->
          <div [appFirefoxQuillViewPatch]="choice.text" class="form-input cursor-pointer">
            <quill-view 
              [content]="choice.text"
              format="html"
              theme="snow"
              [sanitize]="true"
              (click)="editChoice(i)"
              class="w-full"
            >
            </quill-view>
          </div>
          <button
            (click)="removeChoice(i)"
            [disabled]="createQuestionDto.choices?.length === 1"
            class="cursor-pointer text-red-500 hover:text-red-700 disabled:text-gray-400"
            title="Remove Choice"
          >
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <button
          (click)="addChoice()"
          class="cursor-pointer bg-primary hover:bg-btnHover text-white p-2 rounded-full transition duration-200"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#ffffff" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z"/></svg>
        </button>
      </div>
    </div>
  
    <!-- Explanation -->
    <div class="mb-4">
      <label class="block text-gray-700 mb-2">Explanation</label>
      <!--explantion text-->
      <!-- <div>
         <div (click)="editExplanation()" [innerHTML]="createQuestionDto.explanation" 
          class="form-input cursor-pointer min-h-[3rem] break-words whitespace-normal overflow-hidden py-2 px-3 w-full max-w-90%">        
        </div>
      </div> -->
      <div [appFirefoxQuillViewPatch]="createQuestionDto.explanation" 
        class="form-input cursor-pointer">
        <quill-view 
          [content]="createQuestionDto.explanation"
          format="html"
          theme="snow"
          [sanitize]="true"
          (click)="editExplanation()"
          class="w-full"
        >
        </quill-view>
      </div>
    </div>

    <!--Department-->
    <div *ngIf="['ERMP','USMLE_STEP_1','USMLE_STEP_2'].includes(this.examType)"
      class="py-4 flex gap-8 items-center justify-start">
      <label class="form-label">Department</label>
      <div class="relative w-1/4 col-span-12 md:col-span-10 z-10">
          <input #departmentSearchInput [(ngModel)]="createQuestionDto.department" 
            (input)="onDepartmentSearch(departmentSearchInput.value)"
            (click)="showDepartmentList = true"
            class="w-full form-input"  type="text" placeholder="search department" />
          <div *ngIf="showDepartmentList" 
              class="absolute w-full flex flex-col items-center ">
              <div *ngFor="let department of filteredDepartmentList; let idx=index" 
                  class="w-2/3 flex bg-white shadow-md hover:bg-gray-400" 
                  [ngClass]="{'rounded-t-md' : idx==0, 
                      'rounded-b-md' : idx == (filteredDepartmentList.length - 1)
                  }"
                  >
                  <p (click)="onDepartmentSelected(department)" 
                      class="cursor-pointer p-2 w-full ">
                      {{department}}
                  </p>
              </div>
          </div>
      </div>
    </div>

    <!--Block-->
    <div *ngIf="['USMLE_STEP_1','USMLE_STEP_2'].includes(this.examType)"  
      class="py-4 flex gap-4 items-center justify-start">
      <label class="form-label">Block Number</label>
      <div #blockListElement class="relative w-1/4 col-span-12 md:col-span-10">
        <input [(ngModel)]="createQuestionDto.blockNumber" class="form-input w-full cursor-pointer" type="text"
          placeholder="Exam Type" (click)="showBlockList = true"
          (focus)="showBlockList = true" />
        <div *ngIf="showBlockList"
          class="absolute z-10 w-full mt-1 max-h-40 overflow-auto">
          <div *ngFor="let block of blockNumberList; let idx=index"
            class="w-full bg-white shadow hover:bg-gray-200 p-2 cursor-pointer"
            [ngClass]="{
              'rounded-t-md': idx == 0,
              'rounded-b-md': idx == blockNumberList.length - 1
            }"
            (click)="onBlockNumberSelected(block)">
            {{ block }}
          </div>
        </div>
      </div>
    </div>
    <!-- File Selector -->
    <div class="flex gap-6 items-center">
      <label class="form-label">Content</label>
      <div class=" col-span-12 md:col-span-10 flex justify-between gap-2">
        <input #fileInput class="w-full form-input cursor-pointer" type="file" 
            (change)="onFileSelected($event)" />
        <button [disabled]="isUploading" (click)="uploadFile()" 
                class="px-3 py-1 bg-primary hover:bg-btnHover rounded-lg cursor-pointer">
            <ng-container *ngIf="!isUploading; else loading">
              <p>upload </p>
            </ng-container>
            <ng-template #loading>
              <div class="w-6 h-6 border-4 border-white border-t-transparent rounded-full animate-spin"></div>
            </ng-template>
        </button>
        <button (click)="resetFileInput(fileInput)" 
            class="px-4 cursor-pointer text-red-500 hover:text-red-700" title="Delete">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5-4h4m-4 4v12m-4-12v12" />
            </svg>
        </button>
      </div>
    </div>

    <!-- image viewers -->
    <div class="flex flex-col md:flex-row justify-between p-4">
      <section class="flex flex-col py-2 w-full md:w-5/6 md:flex-row items-center justify gap-2  overflow-x-scroll">
        @for (url of createQuestionDto.mediaUrls; track $index) {
          <div class="flex flex-col min-w-24 h-18 items-center justify-center">
            <img (click)="viewMedia(url)" src={{url}} class="min-w-24 h-14"/>
            <div class="flex justify-evenly w-full ">
              <p (click)="onCopyUrl(url)"
               class="text-primary cursor-pointer hover:underline">copy</p>
              <button (click)="onDeleteMedia(url)" class="text-red-500 cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"> <path fill="currentColor" d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"/></svg>
              </button>
            </div>
          </div>
        }
      </section>
      <div class="flex justify-end space-x-2 p-6">
        <button
          (click)="cancel()"
          class="cursor-pointer bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded-md transition duration-200"
        >
          Cancel
        </button>
        <button
          (click)="submit()"
          class="cursor-pointer bg-primary hover:bg-btnHover text-white px-4 py-2 rounded-md transition duration-200"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</main>