<main class="absolute  right-0 flex flex-col w-screen">
    <section class="flex flex-col p-4 gap-4 bg-white  ms-5 me-2 rounded-lg shadow-2xl">
        <app-drawer-item
            componentName="Home"
            [isActiveComponent]="selectedComponent==='home'"
            (click)="selectComponent('home')"
            >
        </app-drawer-item>
        <app-drawer-item
            componentName="Resoruces"
            [isActiveComponent]="selectedComponent === 'resources'"
            (click)="selectComponent('resources')"
        >
        </app-drawer-item>
        <app-drawer-item
            componentName={{plan}}
            [isActiveComponent]="selectedComponent === 'plan'"
            (click)="selectComponent('plan')"
        >
        </app-drawer-item>
        <app-drawer-item
            componentName="Contact US"
            [isActiveComponent]="selectedComponent === 'contactus'"
            (click)="selectComponent('contactus')"
        >
        </app-drawer-item>
        <app-drawer-item *ngIf="isLoggedIn"
            componentName="Profile"
            [isActiveComponent]="selectedComponent === 'contactus'"
            (click)="selectComponent('contactus')"
        >
        </app-drawer-item>
       <div class="text-black">
        <button *ngIf="!isLoggedIn" (click)="login()"
            class=" px-3 py-[3px]    cursor-pointer">
            SignIn
        </button>
        <button *ngIf="isLoggedIn" (click)="logout()"
        class="px-3 py-[3px] cursor-pointer">
            logout
        </button>
       </div>
    </section>
</main>


