<main class="relative min-h-screen w-full flex flex-col gap-0"
       [ngClass]="{'black-bg': drawerShown}">
    <!--header-->
    <section class="fixed top-0 z-50 bg-bgBrand flex justify-center items-center w-full">
            <app-header 
                class="w-full"
                (onSectionSelected)="onSectionSelected($event)"
                (onShowDrawer)="onShawDrawer($event)"
            ></app-header>       
    </section>
    <!--hero-->
    <section id="home">
        <app-hero
            (navigateToAction)="onSectionSelected($event)">            
        </app-hero>
    </section>
    <!--subscription plan-->
    <section id="plan">
        <app-subscriptions></app-subscriptions>
    </section>
    <!--resources-->
    <section id="resources">
        <app-resources 
        (onFilterChanged)="scrollToSection($event)">            
        </app-resources>
    </section>
    <!--footer-->
    <footer id="contactus" class="w-full">
        <app-footer [showDrawer]="drawerShown"></app-footer>
    </footer>
</main>